div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid yellow;
    border-top:20px solid aqua ;
    position: absolute;
    left: 500px;
    top:200px;
    animation: animename 3s ease-in 0s infinite normal;
}
@keyframes animename {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}